body{
    margin: 0 ;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

.header__seed{
    display: flex;
    justify-content: space-between;
}

.header__image-1{
   margin: 28px 28px;
}

.img__search{
    max-width: 100%;
    object-fit: cover;
}



.header__Avion{
    color: #22202E;
    margin: 20px 0 ;
font-family: "Clash Display";
font-size: 24px;
font-weight: 400;

}



.header__image-2{
    margin: 26px 28px; 
}

@media screen  and (max-width:500px){
    .header__Avion{
        order:-1;
    }
   .header__image-2{
    display: none;
   } 
}

.img__card{
    max-width: 100%;
    object-fit: cover;
}

.img__avatar{
    max-width: 100%;
    object-fit: cover;  
}