body {
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header__seed {
  display: flex;
  justify-content: space-between;
}

.header__image-1 {
  margin: 28px 28px;
}

.img__search {
  max-width: 100%;
  object-fit: cover;
}

.header__Avion {
  color: #22202e;
  margin: 20px 0;
  font-family: "Clash Display";
  font-size: 24px;
  font-weight: 400;
}

.header__image-2 {
  margin: 26px 28px;
}

@media screen and (max-width: 500px) {
  .header__Avion {
    order: -1;
  }
  .header__image-2 {
    display: none;
  }
}

.img__card {
  max-width: 100%;
  object-fit: cover;
}

.img__avatar {
  max-width: 100%;
  object-fit: cover;
}

.hero__content {
  max-width: 1440px;
  margin: 0 auto;
}

.hero__title {
  display: flex;
  border: 1px solid black;
  border: none;
  max-width: 1440px;
  height: 584px;
  margin: 62px 50px;
  background: rgb(37, 37, 70);
}

.hero__seed {
  margin: 60px 0 0 60px;
}

.hero__h3 {
  max-width: 470px;
  height: 90px;
  color: var(--White, #fff);
  font-family: "Clash Display";
  font-size: 32px;
}

.hero__button {
  color: #fff;
  width: 170px;
  height: 50px;
  border: 1px solid black;
  background: rgb(85, 85, 95);
}

@media screen and (max-width: 480px) {
  .hero__button {
    width: 260px;
    position: absolute;
    top: 660px;
  }
}

.hero__text {
  max-width: 590px;
  height: 82px;
  padding: 196px 0 0 0;
  color: var(--White, #fff);
  font-size: 18px;
}

.hero__image {
  margin: 0 0 0 300px;
  max-width: 520px;
  height: 584px;
  border: 2px solid black;
  border: none;
}

.img__table {
  object-fit: cover;
}

@media screen and (max-width: 1100px) {
  .hero__image {
    display: none;
  }
}

.brand__content {
  margin: 0 auto;
}

.brand__toothpaste {
  margin: 20px 0 20px 20px;
  display: flex;
  justify-content: center;
  gap: 60px;
}

@media screen and (max-width: 1170px) {
  .brand__toothpaste {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

@media screen and (max-width: 540px) {
  .brand__toothpaste {
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    gap: 25px;
    margin: 0 0 0 100px;
    padding: 0;
    list-style: none;
  }
}

.brand__different {
  font-family: "Clash Display";
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin: 120px 0 50px 0;
}

.brand__next {
  max-width: 270px;
  height: 124px;
  border: 1px solid black;
  border: none;
}

.img__delivery {
  margin: 0 0 16px 5px;
}

.brand__button {
  display: flex;
  justify-content: flex-start;
  border: none;
  background: none;
  font-size: 20px;
}

.brand__text {
  max-width: 270px;
  height: 48px;
  margin: 12px 0 0 5px;
}




.ceramics__new{
  color: #2A254B;
  font-size: 32px;
  margin: 166px 0 0 88px;
}


.ceramics__pisture {
  display: flex;
  max-width: 1280px;
  height: 462px;
  border: 1px solid black;
  border: none;
  margin: 33px 0 20px 90px;
  gap: 20px;
}

@media screen and (max-width:1000px){
   .ceramics__pisture{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0 ;
      margin: 0 ;
      padding: 0 ;
      list-style: none;
   }
}


@media screen and (max-width:500px){
    .ceramics__pisture{
      display: grid;
      grid-template-columns: repeat(1,4fr);
      margin: 0 0 0 90px;
    } 
}


.ceramics__dandy {
  max-width: 305px;
  height: 462px;
  border: 1px solid black;
  border: none;
}

.ceramics__image {
  margin: 0 auto;
}

.ceramics__img {
  max-width: 100%;
  object-fit: cover;
}

.ceramics__seed {
  margin: 24px 0 0 0;
}

.ceramics__button {
  border: none;
  background: none;
  font-size: 20px;
  max-width: 160px;
  height: 28px;
}

.ceramics__h4 {
  font-size: 18px;
  margin: 5px 0 0 5px;
}
